In [1]:
import requests
url_heropage="https://webscraper.io/test-sites/e-commerce/static"
hero_page=requests.get(url_heropage)
with open(f"html/hero_page.html","w") as f:
    f.write(hero_page.text)
    for i in range(1,21):
        url_laptop=f"https://webscraper.io/test-sites/e-commerce/static/computers/laptops?page={i}"
        laptop_page=requests.get(url_laptop)
        with open(f"html/laptops_page{i}.html","w") as f:
            f.write(laptop_page.text)
            print(f"Downloaded page {i} successfully")
print("Here I want to collect only the data from hero page or landing page and data from laptop category")
print("All the data is stored in html folder")

Downloaded page 1 successfully
Downloaded page 2 successfully
Downloaded page 3 successfully
Downloaded page 4 successfully
Downloaded page 5 successfully
Downloaded page 6 successfully
Downloaded page 7 successfully
Downloaded page 8 successfully
Downloaded page 9 successfully
Downloaded page 10 successfully
Downloaded page 11 successfully
Downloaded page 12 successfully
Downloaded page 13 successfully
Downloaded page 14 successfully
Downloaded page 15 successfully
Downloaded page 16 successfully
Downloaded page 17 successfully
Downloaded page 18 successfully
Downloaded page 19 successfully
Downloaded page 20 successfully
Here I want to collect only the data from hero page or landing page and data from laptop category
All the data is stored in html folder

In [2]:
from bs4 import BeautifulSoup

In [3]:
with open(f"html/laptops_page1.html") as f:
    content=f.read()

In [4]:
soup=BeautifulSoup(content,"html.parser")

In [41]:
products=soup.select("div.card.thumbnail")

In [69]:
items=[]
for product in products:
    a=product.select_one("h4 a")
    if not a:
        continue
    title=a.get("title")
    price=product.select_one("h4 span").text
    description=product.select_one("p.description.card-text").text
    items.append([title,description,price])
items

[['Packard 255 G2',
  '15.6", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows 8.1',
  '$416.99'],
 ['Aspire E1-510',
  '15.6", Pentium N3520 2.16GHz, 4GB, 500GB, Linux',
  '$306.99'],
 ['ThinkPad T540p',
  '15.6", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit',
  '$1178.99'],
 ['ProBook', '14", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit', '$739.99'],
 ['ThinkPad X240',
  '12.5", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro 64bit',
  '$1311.99'],
 ['Aspire E1-572G',
  '15.6", Core i5-4200U, 8GB, 1TB, Radeon R7 M265, Windows 8.1',
  '$581.99']]

In [70]:
import pandas as pd

In [73]:
df=pd.DataFrame(items,columns=["Laptop Name","Laptop Description","Price"])
df

      Laptop Name                                 Laptop Description     Price
0  Packard 255 G2  15.6", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...   $416.99
1   Aspire E1-510    15.6", Pentium N3520 2.16GHz, 4GB, 500GB, Linux   $306.99
2  ThinkPad T540p   15.6", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit  $1178.99
3         ProBook    14", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit   $739.99
4   ThinkPad X240  12.5", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...  $1311.99
5  Aspire E1-572G  15.6", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...   $581.99

In [75]:
df.to_csv("html/data_scrape_page1.csv",index=False)

In [76]:
df1=pd.read_csv("html/data_scrape_page1.csv")
df1

      Laptop Name                                 Laptop Description     Price
0  Packard 255 G2  15.6", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...   $416.99
1   Aspire E1-510    15.6", Pentium N3520 2.16GHz, 4GB, 500GB, Linux   $306.99
2  ThinkPad T540p   15.6", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit  $1178.99
3         ProBook    14", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit   $739.99
4   ThinkPad X240  12.5", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...  $1311.99
5  Aspire E1-572G  15.6", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...   $581.99