In [1]:
import requests
url_heropage="https://webscraper.io/test-sites/e-commerce/static"
hero_page=requests.get(url_heropage)
with open(f"html/hero_page.html","w") as f:
    f.write(hero_page.text)
    for i in range(1,21):
        url_laptop=f"https://webscraper.io/test-sites/e-commerce/static/computers/laptops?page={i}"
        laptop_page=requests.get(url_laptop)
        with open(f"html/laptops_page{i}.html","w") as f:
            f.write(laptop_page.text)
            print(f"Downloaded page {i} successfully")
print("Here I want to collect only the data from hero page or landing page and data from laptop category")
print("All the data is stored in html folder")

Downloaded page 1 successfully
Downloaded page 2 successfully
Downloaded page 3 successfully
Downloaded page 4 successfully
Downloaded page 5 successfully
Downloaded page 6 successfully
Downloaded page 7 successfully
Downloaded page 8 successfully
Downloaded page 9 successfully
Downloaded page 10 successfully
Downloaded page 11 successfully
Downloaded page 12 successfully
Downloaded page 13 successfully
Downloaded page 14 successfully
Downloaded page 15 successfully
Downloaded page 16 successfully
Downloaded page 17 successfully
Downloaded page 18 successfully
Downloaded page 19 successfully
Downloaded page 20 successfully
Here I want to collect only the data from hero page or landing page and data from laptop category
All the data is stored in html folder

In [2]:
from bs4 import BeautifulSoup

In [3]:
with open(f"html/laptops_page1.html") as f:
    content=f.read()

In [4]:
soup=BeautifulSoup(content,"html.parser")

In [5]:
products=soup.select("div.card.thumbnail")

In [13]:
items=[]
for product in products:
    a=product.select_one("h4 a")
    if not a:
        continue
    title=a.get("title")
    price=product.select_one("h4 span").text
    description=product.select_one("p.description.card-text").text
    reviews=product.select_one("p span").text
    rating_element=product.select_one("p[data-rating]")
    rating=rating_element.get("data-rating")
    items.append([title,description,price,rating,reviews])
items

[['Packard 255 G2',
  '15.6", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows 8.1',
  '$416.99',
  '2',
  '2'],
 ['Aspire E1-510',
  '15.6", Pentium N3520 2.16GHz, 4GB, 500GB, Linux',
  '$306.99',
  '3',
  '2'],
 ['ThinkPad T540p',
  '15.6", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit',
  '$1178.99',
  '1',
  '2'],
 ['ProBook',
  '14", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit',
  '$739.99',
  '4',
  '8'],
 ['ThinkPad X240',
  '12.5", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro 64bit',
  '$1311.99',
  '3',
  '12'],
 ['Aspire E1-572G',
  '15.6", Core i5-4200U, 8GB, 1TB, Radeon R7 M265, Windows 8.1',
  '$581.99',
  '1',
  '2']]

In [14]:
import pandas as pd

In [15]:
df=pd.DataFrame(items,columns=["Laptop Name","Laptop Description","Price","Rating(Star(s))","Reviews"])
df

,Laptop Name,Laptop Description,Price,Rating(Star(s)),Reviews
0,Packard 255 G2,"15.6"", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...",$416.99,2,2
1,Aspire E1-510,"15.6"", Pentium N3520 2.16GHz, 4GB, 500GB, Linux",$306.99,3,2
2,ThinkPad T540p,"15.6"", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit",$1178.99,1,2
3,ProBook,"14"", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit",$739.99,4,8
4,ThinkPad X240,"12.5"", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...",$1311.99,3,12
5,Aspire E1-572G,"15.6"", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...",$581.99,1,2

In [16]:
df.to_csv("html/data_scrape_page1.csv",index=False)

In [17]:
df1=pd.read_csv("html/data_scrape_page1.csv")
df1

,Laptop Name,Laptop Description,Price,Rating(Star(s)),Reviews
0,Packard 255 G2,"15.6"", AMD E2-3800 1.3GHz, 4GB, 500GB, Windows...",$416.99,2,2
1,Aspire E1-510,"15.6"", Pentium N3520 2.16GHz, 4GB, 500GB, Linux",$306.99,3,2
2,ThinkPad T540p,"15.6"", Core i5-4200M, 4GB, 500GB, Win7 Pro 64bit",$1178.99,1,2
3,ProBook,"14"", Core i5 2.6GHz, 4GB, 500GB, Win7 Pro 64bit",$739.99,4,8
4,ThinkPad X240,"12.5"", Core i5-4300U, 8GB, 240GB SSD, Win7 Pro...",$1311.99,3,12
5,Aspire E1-572G,"15.6"", Core i5-4200U, 8GB, 1TB, Radeon R7 M265...",$581.99,1,2