In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
car_data=pd.read_csv("dataset/car_price_prediction.csv")
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                19237 non-null  int64
 1   Price             19237 non-null  int64
 2   Levy              19237 non-null  object
 3   Manufacturer      19237 non-null  object
 4   Model             19237 non-null  object
 5   Prod. year        19237 non-null  int64
 6   Category          19237 non-null  object
 7   Leather interior  19237 non-null  object
 8   Fuel type         19237 non-null  object
 9   Engine volume     19237 non-null  object
 10  Mileage           19237 non-null  object
 11  Cylinders         19237 non-null  float64
 12  Gear box type     19237 non-null  object
 13  Drive wheels      19237 non-null  object
 14  Doors             19237 non-null  object
 15  Wheel             19237 non-null  object
 16  Color             19237 non-null  object
 17  Airbags           19237 non-null  int64
dtypes: float64(1), int64(4), object(13)
memory usage: 2.6+ MB

# Information about the columns 

| **Column Name**      | **Type**  | **Explanation**                                                                                                                                 |
| -------------------- | --------- | ----------------------------------------------------------------------------------------------------------------------------------------------- |
| **ID**               | `int64`   | A unique identification number for each vehicle. Generally unnecessary for modeling purposes.                                                   |
| **Price**            | `int64`   | The vehicle’s sales price (label variable / dependent variable). It is the value to be predicted.                                               |
| **Levy**             | `object`  | The vehicle’s annual tax or usage tax. Some lines may contain `"–"` (missing data). It’s usually a numeric value, but it’s kept in text format. |
| **Manufacturer**     | `object`  | The make of the vehicle (e.g., Toyota, BMW, Mercedes-Benz).                                                                                     |
| **Model**            | `object`  | The model name of the vehicle (e.g., Corolla, 320i, C-Class).                                                                                   |
| **Prod. year**       | `int64`   | The vehicle’s production year. Also known as the model year.                                                                                    |
| **Category**         | `object`  | Class or type of vehicle (e.g., Sedan, SUV, Hatchback, Coupe, Minivan, etc.).                                                                   |
| **Leather interior** | `object`  | Whether it is a leather seat is usually “Yes” or “No”.                                                                                          |
| **Fuel type**        | `object`  | Fuel type (e.g., Petrol, Diesel, Hybrid, Electric, LPG).                                                                                        |
| **Engine volume**    | `object`  | Engine displacement (e.g., “2.0”, “3.5 Turbo”, “1.6 Hybrid”). Can contain both numerical values and text. Requires cleaning.                    |
| **Mileage**          | `object`  | The vehicle’s mileage (e.g., “120,000 km”). It needs to be converted to a number.                                                               |
| **Cylinders**        | `float64` | Number of engine cylinders (e.g., 4, 6, 8). Missing values may occur.                                                                           |
| **Gear box type**    | `object`  | Gear type (e.g., Automatic, Manual, Tiptronic, Variator).                                                                                       |
| **Drive wheels**     | `object`  | Traction type. (Front, Rear, 4x4).                                                                                                              |
| **Doors**            | `object`  | Number of doors (e.g., “4”, “2”). Some lines may contain values such as “>5” or “?”                                                             |
| **Wheel**            | `object`  | Steering wheel position: Left or Right (Left-hand drive / Right-hand drive).                                                                    |
| **Color**            | `object`  | Vehicle exterior color (e.g., Black, White, Silver, Blue).                                                                                      |
| **Airbags**          | `int64`   | The number of airbags in the vehicle. Can be used as a safety indicator.                                                                        |

In [3]:
car_data.drop(["ID"], axis=1, inplace=True)

Let's check if the dataset have any missing data

In [4]:
car_data.isnull().sum()

Price               0
Levy                0
Manufacturer        0
Model               0
Prod. year          0
Category            0
Leather interior    0
Fuel type           0
Engine volume       0
Mileage             0
Cylinders           0
Gear box type       0
Drive wheels        0
Doors               0
Wheel               0
Color               0
Airbags             0
dtype: int64

Let's see the unique entires of every columns

In [5]:
for col in car_data.columns:
    print(f'Category in {col} is :\n {car_data[col].unique()}\n')
    print('\\'*50)

Category in Price is :
 [13328 16621  8467 ... 56814 63886 22075]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Levy is :
 ['1399' '1018' '-' '862' '446' '891' '761' '751' '394' '1053' '1055'
 '1079' '810' '2386' '1850' '531' '586' '1249' '2455' '583' '1537' '1288'
 '915' '1750' '707' '1077' '1486' '1091' '650' '382' '1436' '1194' '503'
 '1017' '1104' '639' '629' '919' '781' '530' '640' '765' '777' '779' '934'
 '769' '645' '1185' '1324' '830' '1187' '1111' '760' '642' '1604' '1095'
 '966' '473' '1138' '1811' '988' '917' '1156' '687' '11714' '836' '1347'
 '2866' '1646' '259' '609' '697' '585' '475' '690' '308' '1823' '1361'
 '1273' '924' '584' '2078' '831' '1172' '893' '1872' '1885' '1266' '447'
 '2148' '1730' '730' '289' '502' '333' '1325' '247' '879' '1342' '1327'
 '1598' '1514' '1058' '738' '1935' '481' '1522' '1282' '456' '880' '900'
 '798' '1277' '442' '1051' '790' '1292' '1047' '528' '1211' '1493' '1793'
 '574' '930' '1998' '271' '706' '1481' '1677' '1661' '1286' '1408' '1090'
 '595' '1451' '1267' '993' '1714' '878' '641' '749' '1511' '603' '353'
 '877' '1236' '1141' '397' '784' '1024' '1357' '1301' '770' '922' '1438'
 '753' '607' '1363' '638' '490' '431' '565' '517' '833' '489' '1760' '986'
 '1841' '1620' '1360' '474' '1099' '978' '1624' '1946' '1268' '1307' '696'
 '649' '666' '2151' '551' '800' '971' '1323' '2377' '1845' '1083' '694'
 '463' '419' '345' '1515' '1505' '2056' '1203' '729' '460' '1356' '876'
 '911' '1190' '780' '448' '2410' '1848' '1148' '834' '1275' '1028' '1197'
 '724' '890' '1705' '505' '789' '2959' '518' '461' '1719' '2858' '3156'
 '2225' '2177' '1968' '1888' '1308' '2736' '1103' '557' '2195' '843'
 '1664' '723' '4508' '562' '501' '2018' '1076' '1202' '3301' '691' '1440'
 '1869' '1178' '418' '1820' '1413' '488' '1304' '363' '2108' '521' '1659'
 '87' '1411' '1528' '3292' '7058' '1578' '627' '874' '1996' '1488' '5679'
 '1234' '5603' '400' '889' '3268' '875' '949' '2265' '441' '742' '425'
 '2476' '2971' '614' '1816' '1375' '1405' '2297' '1062' '1113' '420'
 '2469' '658' '1951' '2670' '2578' '1995' '1032' '994' '1011' '2421'
 '1296' '155' '494' '426' '1086' '961' '2236' '1829' '764' '1834' '1054'
 '617' '1529' '2266' '637' '626' '1832' '1016' '2002' '1756' '746' '1285'
 '2690' '1118' '5332' '980' '1807' '970' '1228' '1195' '1132' '1768'
 '1384' '1080' '7063' '1817' '1452' '1975' '1368' '702' '1974' '1781'
 '1036' '944' '663' '364' '1539' '1345' '1680' '2209' '741' '1575' '695'
 '1317' '294' '1525' '424' '997' '1473' '1552' '2819' '2188' '1668' '3057'
 '799' '1502' '2606' '552' '1694' '1759' '1110' '399' '1470' '1174' '5877'
 '1474' '1688' '526' '686' '5908' '1107' '2070' '1468' '1246' '1685' '556'
 '1533' '1917' '1346' '732' '692' '579' '421' '362' '3505' '1855' '2711'
 '1586' '3739' '681' '1708' '2278' '1701' '722' '1482' '928' '827' '832'
 '527' '604' '173' '1341' '3329' '1553' '859' '167' '916' '828' '2082'
 '1176' '1108' '975' '3008' '1516' '2269' '1699' '2073' '1031' '1503'
 '2364' '1030' '1442' '5666' '2715' '1437' '2067' '1426' '2908' '1279'
 '866' '4283' '279' '2658' '3015' '2004' '1391' '4736' '748' '1466' '644'
 '683' '2705' '1297' '731' '1252' '2216' '3141' '3273' '1518' '1723'
 '1588' '972' '682' '1094' '668' '175' '967' '402' '3894' '1960' '1599'
 '2000' '2084' '1621' '714' '1109' '3989' '873' '1572' '1163' '1991'
 '1716' '1673' '2562' '2874' '965' '462' '605' '1948' '1736' '3518' '2054'
 '2467' '1681' '1272' '1205' '750' '2156' '2566' '115' '524' '3184' '676'
 '1678' '612' '328' '955' '1441' '1675' '3965' '2909' '623' '822' '867'
 '3025' '1993' '792' '636' '4057' '3743' '2337' '2570' '2418' '2472'
 '3910' '1662' '2123' '2628' '3208' '2080' '3699' '2913' '864' '2505'
 '870' '7536' '1924' '1671' '1064' '1836' '1866' '4741' '841' '1369'
 '5681' '3112' '1366' '2223' '1198' '1039' '3811' '3571' '1387' '1171'
 '1365' '1531' '1590' '11706' '2308' '4860' '1641' '1045' '1901']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Manufacturer is :
 ['LEXUS' 'CHEVROLET' 'HONDA' 'FORD' 'HYUNDAI' 'TOYOTA' 'MERCEDES-BENZ'
 'OPEL' 'PORSCHE' 'BMW' 'JEEP' 'VOLKSWAGEN' 'AUDI' 'RENAULT' 'NISSAN'
 'SUBARU' 'DAEWOO' 'KIA' 'MITSUBISHI' 'SSANGYONG' 'MAZDA' 'GMC' 'FIAT'
 'INFINITI' 'ALFA ROMEO' 'SUZUKI' 'ACURA' 'LINCOLN' 'VAZ' 'GAZ' 'CITROEN'
 'LAND ROVER' 'MINI' 'DODGE' 'CHRYSLER' 'JAGUAR' 'ISUZU' 'SKODA'
 'DAIHATSU' 'BUICK' 'TESLA' 'CADILLAC' 'PEUGEOT' 'BENTLEY' 'VOLVO' 'სხვა'
 'HAVAL' 'HUMMER' 'SCION' 'UAZ' 'MERCURY' 'ZAZ' 'ROVER' 'SEAT' 'LANCIA'
 'MOSKVICH' 'MASERATI' 'FERRARI' 'SAAB' 'LAMBORGHINI' 'ROLLS-ROYCE'
 'PONTIAC' 'SATURN' 'ASTON MARTIN' 'GREATWALL']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Model is :
 ['RX 450' 'Equinox' 'FIT' ... 'E 230 124' 'RX 450 F SPORT' 'Prius C aqua']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Prod. year is :
 [2010 2011 2006 2014 2016 2013 2007 1999 1997 2018 2008 2012 2017 2001
 1995 2009 2000 2019 2015 2004 1998 1990 2005 2003 1985 1996 2002 1993
 1992 1988 1977 1989 1994 2020 1984 1986 1991 1983 1953 1964 1974 1987
 1943 1978 1965 1976 1957 1980 1939 1968 1947 1982 1981 1973]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Category is :
 ['Jeep' 'Hatchback' 'Sedan' 'Microbus' 'Goods wagon' 'Universal' 'Coupe'
 'Minivan' 'Cabriolet' 'Limousine' 'Pickup']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Leather interior is :
 ['Yes' 'No']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Fuel type is :
 ['Hybrid' 'Petrol' 'Diesel' 'CNG' 'Plug-in Hybrid' 'LPG' 'Hydrogen']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Engine volume is :
 ['3.5' '3' '1.3' '2.5' '2' '1.8' '2.4' '4' '1.6' '3.3' '2.0 Turbo'
 '2.2 Turbo' '4.7' '1.5' '4.4' '3.0 Turbo' '1.4 Turbo' '3.6' '2.3'
 '1.5 Turbo' '1.6 Turbo' '2.2' '2.3 Turbo' '1.4' '5.5' '2.8 Turbo' '3.2'
 '3.8' '4.6' '1.2' '5' '1.7' '2.9' '0.5' '1.8 Turbo' '2.4 Turbo'
 '3.5 Turbo' '1.9' '2.7' '4.8' '5.3' '0.4' '2.8' '3.2 Turbo' '1.1' '2.1'
 '0.7' '5.4' '1.3 Turbo' '3.7' '1' '2.5 Turbo' '2.6' '1.9 Turbo'
 '4.4 Turbo' '4.7 Turbo' '0.8' '0.2 Turbo' '5.7' '4.8 Turbo' '4.6 Turbo'
 '6.7' '6.2' '1.2 Turbo' '3.4' '1.7 Turbo' '6.3 Turbo' '2.7 Turbo' '4.3'
 '4.2' '2.9 Turbo' '0' '4.0 Turbo' '20' '3.6 Turbo' '0.3' '3.7 Turbo'
 '5.9' '5.5 Turbo' '0.2' '2.1 Turbo' '5.6' '6' '0.7 Turbo' '0.6 Turbo'
 '6.8' '4.5' '0.6' '7.3' '0.1' '1.0 Turbo' '6.3' '4.5 Turbo' '0.8 Turbo'
 '4.2 Turbo' '3.1' '5.0 Turbo' '6.4' '3.9' '5.7 Turbo' '0.9' '0.4 Turbo'
 '5.4 Turbo' '0.3 Turbo' '5.2' '5.8' '1.1 Turbo']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Mileage is :
 ['186005 km' '192000 km' '200000 km' ... '140607 km' '307325 km'
 '186923 km']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Cylinders is :
 [ 6.  4.  8.  1. 12.  3.  2. 16.  5.  7.  9. 10. 14.]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Gear box type is :
 ['Automatic' 'Tiptronic' 'Variator' 'Manual']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Drive wheels is :
 ['4x4' 'Front' 'Rear']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Doors is :
 ['04-May' '02-Mar' '>5']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Wheel is :
 ['Left wheel' 'Right-hand drive']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Color is :
 ['Silver' 'Black' 'White' 'Grey' 'Blue' 'Green' 'Red' 'Sky blue' 'Orange'
 'Yellow' 'Brown' 'Golden' 'Beige' 'Carnelian red' 'Purple' 'Pink']

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Category in Airbags is :
 [12  8  2  0  4  6 10  3  1 16  5  7  9 11 14 15 13]

\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\

Let's fix the problem with Levy column

| **Column Name**      | **Type**  | **Explanation**                                                                                                                                 |
| -------------------- | --------- | ----------------------------------------------------------------------------------------------------------------------------------------------- |
| **Levy**             | `object`  | The vehicle’s annual tax or usage tax. Some lines may contain `"–"` (missing data). It’s usually a numeric value, but it’s kept in text format. |

In [6]:
car_data["Levy"]=car_data["Levy"].str.replace('-','')
car_data["Levy"]=pd.to_numeric(car_data["Levy"], errors='coerce')
car_data.fillna({"Levy": car_data["Levy"].mean()}, inplace=True)
car_data["Levy"]=car_data["Levy"].astype("float32")
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  float32
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  int64
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  object
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: float32(1), float64(1), int64(3), object(12)
memory usage: 2.4+ MB

Let's fix the next issue

| **Column Name**      | **Type**  | **Explanation**                                                                                                                                 |
| -------------------- | --------- | ----------------------------------------------------------------------------------------------------------------------------------------------- |
| **Engine volume**    | `object`  | Engine displacement (e.g., “2.0”, “3.5 Turbo”, “1.6 Hybrid”). Can contain both numerical values and text. Requires cleaning.                    |

In [7]:
car_data["Engine volume"]=car_data["Engine volume"].str.replace("Turbo","")
car_data["Engine volume"]=car_data["Engine volume"].astype("float32")

In [8]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  float32
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  int64
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  float32
 9   Mileage           19237 non-null  object
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: float32(2), float64(1), int64(3), object(11)
memory usage: 2.3+ MB

Let's fix the next issue

| **Column Name**      | **Type**  | **Explanation**                                                                                                                                 |
| -------------------- | --------- | ----------------------------------------------------------------------------------------------------------------------------------------------- |
| **Mileage**          | `object`  | The vehicle’s mileage (e.g., “120,000 km”). It needs to be converted to a number.                                                               |

In [9]:
#lets change the column name first 
car_data.rename(columns={"Mileage":"Mileage(Km)"}, inplace=True)
#now lets remove "km" from the entiries and change the datatype
car_data['Mileage(Km)']=car_data['Mileage(Km)'].str.replace('km',"")
car_data["Mileage(Km)"]=car_data["Mileage(Km)"].astype('int32')

In [10]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19237 entries, 0 to 19236
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Price             19237 non-null  int64
 1   Levy              19237 non-null  float32
 2   Manufacturer      19237 non-null  object
 3   Model             19237 non-null  object
 4   Prod. year        19237 non-null  int64
 5   Category          19237 non-null  object
 6   Leather interior  19237 non-null  object
 7   Fuel type         19237 non-null  object
 8   Engine volume     19237 non-null  float32
 9   Mileage(Km)       19237 non-null  int32
 10  Cylinders         19237 non-null  float64
 11  Gear box type     19237 non-null  object
 12  Drive wheels      19237 non-null  object
 13  Doors             19237 non-null  object
 14  Wheel             19237 non-null  object
 15  Color             19237 non-null  object
 16  Airbags           19237 non-null  int64
dtypes: float32(2), float64(1), int32(1), int64(3), object(10)
memory usage: 2.3+ MB

In [11]:
car_data["Mileage(Km)"].head()

0    186005
1    192000
2    200000
3    168966
4     91901
Name: Mileage(Km), dtype: int32

Let's find the age of the car

In [12]:
import datetime as dt

In [13]:
dtime=dt.datetime.now()
car_data['Age']=dtime.year-car_data['Prod. year']
car_data.head()

,Price,Levy,Manufacturer,Model,Prod. year,Category,Leather interior,Fuel type,Engine volume,Mileage(Km),Cylinders,Gear box type,Drive wheels,Doors,Wheel,Color,Airbags,Age
0,13328,1399.000000,LEXUS,RX 450,2010,Jeep,Yes,Hybrid,3.5,186005,6.0,Automatic,4x4,04-May,Left wheel,Silver,12,15
1,16621,1018.000000,CHEVROLET,Equinox,2011,Jeep,No,Petrol,3.0,192000,6.0,Tiptronic,4x4,04-May,Left wheel,Black,8,14
2,8467,906.838135,HONDA,FIT,2006,Hatchback,No,Petrol,1.3,200000,4.0,Variator,Front,04-May,Right-hand drive,Black,2,19
3,3607,862.000000,FORD,Escape,2011,Jeep,Yes,Hybrid,2.5,168966,4.0,Automatic,4x4,04-May,Left wheel,White,0,14
4,11726,446.000000,HONDA,FIT,2014,Hatchback,Yes,Petrol,1.3,91901,4.0,Automatic,Front,04-May,Left wheel,Silver,4,11

let's save the final dataset

In [15]:
car_data.to_csv("dataset/Clean_data.csv")