In [1]:
import pandas as pd
import numpy as np
import sklearn as skl

In [2]:
data=pd.read_csv("dataset\Training_Set.csv")

In [3]:
data.head(10)

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage(Km),Cylinders,Gear box type,Drive wheels,Wheel,Color,Airbags,Age
0,16465,640.00000,KIA,Optima,Sedan,Yes,Petrol,2.0,43330,4.0,Automatic,Front,Left wheel,White,4,12
1,1646,707.00000,AUDI,A4,Sedan,Yes,Petrol,2.0,124958,4.0,Automatic,4x4,Left wheel,White,12,14
2,48998,765.00000,HYUNDAI,Santa FE,Jeep,Yes,Diesel,2.0,104667,4.0,Automatic,Front,Left wheel,Grey,4,10
3,33908,639.00000,HYUNDAI,Tucson,Jeep,Yes,Diesel,2.0,85254,4.0,Automatic,Front,Left wheel,Black,4,11
4,706,1646.00000,LEXUS,GX 460,Jeep,Yes,Petrol,4.6,102907,8.0,Automatic,4x4,Left wheel,Black,0,10
5,8154,906.83813,MERCEDES-BENZ,Vito,Goods wagon,No,Diesel,2.2,395000,4.0,Manual,Front,Left wheel,White,2,22
6,3293,521.00000,CHEVROLET,Volt,Hatchback,Yes,Hybrid,1.4,288778,4.0,Automatic,Front,Left wheel,Black,12,14
7,14426,906.83813,VOLKSWAGEN,Jetta,Sedan,Yes,LPG,2.5,169600,5.0,Automatic,Front,Left wheel,Black,8,13
8,25926,986.00000,JEEP,Compass,Jeep,Yes,Petrol,2.4,84918,4.0,Automatic,Front,Left wheel,Silver,4,15
9,15681,738.00000,CHEVROLET,Cruze,Sedan,Yes,Petrol,1.4,107637,4.0,Automatic,Front,Left wheel,Black,0,8

In [4]:
data.tail(10)

,Price,Levy,Manufacturer,Model,Category,Leather interior,Fuel type,Engine volume,Mileage(Km),Cylinders,Gear box type,Drive wheels,Wheel,Color,Airbags,Age
15379,45,906.83813,TOYOTA,Prius,Hatchback,No,Hybrid,1.8,100000,4.0,Automatic,Front,Left wheel,White,12,13
15380,21953,906.83813,BMW,550,Sedan,Yes,Petrol,4.4,0,8.0,Tiptronic,Rear,Left wheel,Black,6,13
15381,549,1018.00000,MERCEDES-BENZ,ML 350,Jeep,Yes,Diesel,3.0,251120,6.0,Automatic,4x4,Left wheel,Black,12,14
15382,32302,1604.00000,MERCEDES-BENZ,E 350,Sedan,Yes,Petrol,5.5,101424,8.0,Automatic,4x4,Left wheel,Grey,12,11
15383,20071,906.83813,HYUNDAI,Sonata,Sedan,No,Hybrid,2.4,21920,6.0,Automatic,Front,Left wheel,Silver,11,12
15384,6899,906.83813,SUZUKI,XL7,Jeep,No,CNG,2.7,170000,6.0,Automatic,4x4,Left wheel,Golden,8,24
15385,9405,362.00000,CHEVROLET,Spark,Sedan,Yes,Petrol,1.0,31114,4.0,Automatic,Front,Left wheel,Black,4,11
15386,21953,906.83813,LAND ROVER,Land Rover Sport,Jeep,Yes,Diesel,2.7,0,6.0,Automatic,4x4,Left wheel,Black,12,19
15387,627,831.00000,CHEVROLET,Malibu,Sedan,Yes,Petrol,2.4,489821,4.0,Automatic,Front,Left wheel,Silver,12,14
15388,110,1077.00000,HYUNDAI,Santa FE,Jeep,Yes,Petrol,2.0,28797,4.0,Automatic,Front,Left wheel,White,12,6

Computer doesn't understands words it understands numbers, So we need to convert the categorical values to numbers that or Machine Learning model will understand.


Since this dataset have unordered categories we wil use One-Hot encoding.

In [5]:
from sklearn.preprocessing import OneHotEncoder
encoder=OneHotEncoder()

Let's start with the manufacturer column

In [6]:
man=data[["Manufacturer"]]

In [7]:
man_cat=encoder.fit_transform(man)

In [8]:
man_cat.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [9]:
encoder.categories_

[array(['ACURA', 'ALFA ROMEO', 'ASTON MARTIN', 'AUDI', 'BENTLEY', 'BMW',
        'BUICK', 'CADILLAC', 'CHEVROLET', 'CHRYSLER', 'CITROEN', 'DAEWOO',
        'DAIHATSU', 'DODGE', 'FERRARI', 'FIAT', 'FORD', 'GAZ', 'GMC',
        'GREATWALL', 'HAVAL', 'HONDA', 'HUMMER', 'HYUNDAI', 'INFINITI',
        'ISUZU', 'JAGUAR', 'JEEP', 'KIA', 'LANCIA', 'LAND ROVER', 'LEXUS',
        'LINCOLN', 'MASERATI', 'MAZDA', 'MERCEDES-BENZ', 'MERCURY', 'MINI',
        'MITSUBISHI', 'MOSKVICH', 'NISSAN', 'OPEL', 'PEUGEOT', 'PONTIAC',
        'PORSCHE', 'RENAULT', 'ROLLS-ROYCE', 'ROVER', 'SAAB', 'SATURN',
        'SCION', 'SEAT', 'SKODA', 'SSANGYONG', 'SUBARU', 'SUZUKI', 'TESLA',
        'TOYOTA', 'UAZ', 'VAZ', 'VOLKSWAGEN', 'VOLVO', 'ZAZ'], dtype=object)]

In [10]:
man_cat=pd.DataFrame(man_cat.toarray(), columns=encoder.categories_[0],index=man.index)
man_cat.columns = ['Manufacturer_' + col for col in man_cat.columns]
man_cat.head(10)

,Manufacturer_ACURA,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,Manufacturer_AUDI,Manufacturer_BENTLEY,Manufacturer_BMW,Manufacturer_BUICK,Manufacturer_CADILLAC,Manufacturer_CHEVROLET,Manufacturer_CHRYSLER,...,Manufacturer_SSANGYONG,Manufacturer_SUBARU,Manufacturer_SUZUKI,Manufacturer_TESLA,Manufacturer_TOYOTA,Manufacturer_UAZ,Manufacturer_VAZ,Manufacturer_VOLKSWAGEN,Manufacturer_VOLVO,Manufacturer_ZAZ
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Now let's do the same for the "Model" column

In [11]:
mod=data[["Model"]]

In [12]:
mod_cat=encoder.fit_transform(mod)

In [13]:
import numpy as np
np.set_printoptions(threshold=np.inf) 
print(encoder.categories_[0])

['09-Mar' '100' '100 NX' '1000' '114' '116' '118' '118 M-sport LCI' '120'
 '128' '128 M tech' '130' '1300' '135' '1500' '1500,1600 Schtufenheck'
 '159' '166' '190' '20' '200' '206' '206 CC' '207' '21' '21 3.0' '2101 01'
 '2103 03' '2105' '2106' '2107' '2107 07' '2121 (Niva)' '2140' '216' '220'
 '225' '230' '24' '24 10' '250' '270' '280' '3.18E+38' '3.25E+48' '300'
 '3008 2.0' '307' '311' '3110' '31105' '31514' '31514 UAZ' '316'
 '316 1995' '316 i' '318' '318 318' '318 m' '318 რესტაილინგი'
 '318 სასწრაფოდ' '320' '320 2.0' '320 2.2' '320 320' '320 DIESEL'
 '320 Diesel' '320 Gran Turismo' '320 i' '32214' '323' '325' '325 CI'
 '325 XI' '325 i' '328' '328 DRIFT CAR' '328 Xdrive' '328 i' '328 sulev'
 '330' '335' '335 335i' '335 D' '335 M paket' '335 ტურბო' '340' '370Z'
 '400' '401' '406' '407' '416' '420' '428' '428 Sport Line' '428 i' '435'
 '435 CUPE' '456' '4Runner' '4Runner LIMITED' '50' '500' '500 46 ml'
 '500 Abarth' '500 Abarth ტურბო' '500 Lounge' '500 Sport' '500 s'
 '500 sport' '500 sport panorama' '500 turbo' '500C' '500C Lounge' '500L'
 '500L LONG' '500X' '508' '520' '520 I' '520 d xDrive Luxury' '525'
 '525 ///M' '525 525' '525 TDI' '525 Vanos' '525 i' '528' '528 3.0' '530'
 '530 G30' '530 GT' '530 I' '530 M' '530 i' '535' '535 535' '535 Diesel'
 '535 I' '535 M' '535 Twinturbo' '535 XI' '535 comfort-sport' '535 i'
 '540 I' '545' '550' '550 F10' '550 M Packet' '607' '616' '626' '630'
 '635' '640' '640 GRAN-COUPE' '640 M' '645' '645 CI' '650' '650 450 HP'
 '7.30E+34' '730 3.0' '735' '740' '740 i' '745' '745 i' '750' '750 4.8'
 '807' '911' '911 meqanika' '940' '960' '969 968m' '969 luaz' 'A 140'
 'A 140 140' 'A 160' 'A 170' 'A 170 Avangard' 'A 190' 'A 200' 'A3'
 'A3 4X4' 'A3 PREMIUM' 'A4' 'A4 B5' 'A4 B6' 'A4 B7' 'A4 S line' 'A4 S4'
 'A4 premium plius' 'A5' 'A5 Sportback' 'A6' 'A6 C7' 'A6 UNIVERSAL'
 'A6 evropuli' 'A6 С6' 'A7' 'A7 Prestige' 'A8' 'ATS' 'Acadia' 'Accent'
 'Accent GS' 'Accent SE' 'Accord' 'Actyon' 'Aerio SX' 'Agila' 'Airtrek'
 'Airtrek turbo' 'Allante' 'Allroad' 'Almera' 'Almera dci' 'Alphard'
 'Altezza' 'Altima' 'Alto Lapin' 'Aqua' 'Aqua G' 'Aqua G klas'
 'Aqua L paketi' 'Aqua S' 'Aqua s' 'Aqua sport' 'Aqua სასწრაფოდ' 'Armada'
 'Astra' 'Astra 1600' 'Astra A.H' 'Astra CNG' 'Astra G' 'Astra GE'
 'Astra GTC 1.9 turbo dies' 'Astra H' 'Astra astra' 'Astra g' 'Astra gi'
 'Astra j' 'Astra suzuki mr wagon' 'Astra td' 'Atenza' 'Auris' 'Avalanche'
 'Avalon' 'Avalon LIMITED' 'Avalon limited' 'Avella' 'Avenger' 'Avensis'
 'Aveo' 'Axela' 'Azera' 'B 170' 'B 170 B Class' 'B 170 Edition One'
 'B 180' 'B 200' 'B 200 Turbo' 'B-MAX' 'B9 Tribeca' 'BRZ' 'Berlingo'
 'Bluebird' 'Bora' 'C 180' 'C 180 2.0' 'C 180 komp' 'C 200' 'C 200 2.0'
 'C 200 7G-TRONIC' 'C 200 KOMPRESSOR' 'C 200 Kompressor' 'C 220' 'C 230'
 'C 230 2.0 kompresor' 'C 230 2.5' 'C 240' 'C 240 w203' 'C 250'
 'C 250 1,8 turbo' 'C 250 1.8' 'C 250 A.M.G' 'C 250 AMG' 'C 270' 'C 280'
 'C 300' 'C 300 4matic' 'C 300 6.3 AMG Package' 'C 32 AMG' 'C 320'
 'C 320 AMG' 'C 320 CDI' 'C 350' 'C 36 AMG' 'C 400' 'C 43 AMG' 'C 63 AMG'
 'C-MAX' 'C-MAX C-MAX' 'C-MAX HYBRID' 'C-MAX PREMIUM' 'C-MAX SE'
 'C-MAX SEL' 'C1' 'C1 C' 'C30' 'C30 2010' 'C4' 'C5' 'C8' 'CC' 'CC 2.0 T'
 'CC R line' 'CC sport' 'CERVO' 'CHR' 'CHR Limited' 'CL 500'
 'CL 55 AMG KOMPRESSOR' 'CL 550' 'CL 600' 'CL550 AMG' 'CLA 250'
 'CLA 250 AMG' 'CLA 45 AMG' 'CLK 200' 'CLK 200 208' 'CLK 200 Kompressor'
 'CLK 200 kompresor' 'CLK 230' 'CLK 230 .' 'CLK 240' 'CLK 270' 'CLK 280'
 'CLK 320' 'CLK 320 AMG' 'CLK 320 avangarde' 'CLK 350' 'CLK 430'
 'CLK 55 AMG' 'CLS 350' 'CLS 350 AMG' 'CLS 450 CLS 400' 'CLS 500'
 'CLS 55 AMG' 'CLS 550' 'CLS 63 AMG' 'CR-Z' 'CRX' 'CT 200h' 'CT 200h 1.8'
 'CT 200h F SPORT' 'CT 200h F sport' 'CT 200h F-sport' 'CTS' 'CX-3' 'CX-5'
 'CX-5 Touring' 'CX-7' 'CX-9' 'Caddy' 'Caddy cadi' 'Cadenza' 'Caldina'
 'Caliber' 'Caliber journey' 'Caliber sxt' 'Camaro' 'Camaro LS'
 'Camaro RS' 'Camry' 'Camry HYBRID' 'Camry Hybrid' 'Camry LE' 'Camry Le'
 'Camry SE' 'Camry SE HIBRYD' 'Camry SPORT' 'Camry Se' 'Camry XLE'
 'Camry XLEi' 'Camry XSE' 'Camry XV50' 'Camry se' 'Camry sport'
 'Camry sport se' 'Camry sporti' 'Camry ჰიბრიდი' 'Captiva'
 'Captur QM3 Samsung' 'Caravan' 'Caravan tradesman' 'Carens' 'Carisma'
 'Carnival' 'Carnival grand' 'Catera' 'Cayenne' 'Cayenne S' 'Cayenne s'
 'Cayman' 'Ceed' 'Cefiro' 'Celica' 'Century' 'Cerato' 'Challenger'
 'Chariot' 'Cherokee' 'Cinquecento' 'Civic' 'Civic EX' 'Civic Ferio'
 'Civic Hybrid' 'Clio' 'Colt' 'ColtPlus' 'ColtPlus Plus' 'Combo'
 'Combo 1700' 'Combo 2001' 'Combo TDI' 'Compass' 'Continental'
 'Continental GT' 'Cooper' 'Cooper CLUBMAN' 'Cooper F-56' 'Cooper S'
 'Cooper S Cabrio' 'Cooper S Cabrio R56' 'Cooper r50' 'Corolla'
 'Corolla 04' 'Corolla 140' 'Corolla ECO' 'Corolla IM' 'Corolla Im'
 'Corolla LE' 'Corolla S' 'Corolla se' 'Corolla spacio' 'Corolla verso'
 'Corsa' 'Corsa Corsa' 'Corvette' 'Cougar' 'Countryman' 'Countryman S'
 'Countryman s' 'Countryman sport' 'Cr-v' 'Cr-v Cr-v' 'Cr-v LX' 'Crafter'
 'Crafter 2,5TDI' 'Crafter 2.5 TDI' 'Crossfire' 'Crossland X' 'Crossroad'
 'Crosstour' 'Crosstrek' 'Cruze' 'Cruze Cruze' 'Cruze L T' 'Cruze LS'
 'Cruze LT' 'Cruze LT RS' 'Cruze PREMIER' 'Cruze Premier' 'Cruze RS'
 'Cruze S' 'Cruze ltz' 'Cruze sonic' 'Cruze strocna' 'DTS' 'Daimler'
 'Dart' 'Dart GT 2.4' 'Dart Limited' 'Defender 90 Cabrio' 'Delica'
 'Delica 5' 'Demio' 'Demio 12' 'Demio Sport' 'Demio evropuli' 'Discovery'
 'Discovery IV' 'Discovery LR3' 'Doblo' 'Durango' 'Duster' 'E 200'
 'E 200 2000' 'E 200 CGI' 'E 200 w210' 'E 220' 'E 220 211' 'E 220 CDI'
 'E 220 ELEGANCE' 'E 220 W210...CDI' 'E 220 cdi' 'E 230' 'E 230 124'
 'E 240' 'E 240 E 240' 'E 250' 'E 260' 'E 270' 'E 270 4' 'E 270 AVANGARDI'
 'E 280' 'E 280 3.0' 'E 290' 'E 300' 'E 300 AVANTGARDE-LTD' 'E 320'
 'E 320 4matic' 'E 320 bluetec' 'E 350' 'E 350 212' 'E 350 4 MATIC'
 'E 350 4 Matic AMG Packag' 'E 350 4 matic' 'E 350 AMG' 'E 350 w211'
 'E 350 ამგ' 'E 36 AMG' 'E 400' 'E 420' 'E 430' 'E 50' 'E 500' 'E 500 AVG'
 'E 55' 'E 550' 'E-pace' 'E-pace p200' 'ES 300' 'ES 300 hybrid' 'ES 350'
 'EX35' 'EX37' 'Eclipse' 'Eclipse ES' 'EcoSport SE' 'Edge' 'Edix'
 'Edix FR-v' 'Elantra' 'Elantra 2014' 'Elantra 2016' 'Elantra GS'
 'Elantra GT' 'Elantra Gt' 'Elantra LIMITED' 'Elantra LIMITEDI'
 'Elantra Limited' 'Elantra SE' 'Elantra Se' 'Elantra i30'
 'Elantra limited' 'Elantra sport limited' 'Element' 'Elgrand' 'Elysion'
 'Elysion 3.0' 'Enclave' 'Encore' 'Envoy' 'Eos' 'Equinox' 'Equinox LT'
 'Escalade' 'Escape' 'Escape 3.0' 'Escape Hybrid' 'Escape SE'
 'Escape Titanium' 'Escape escape' 'Escape სასწრაფოდ' 'Escort' 'Escudo'
 'Estima' 'Eunos 500' 'Expedition' 'Explorer' 'Explorer XLT' 'F-pace'
 'F-type' 'F-type R' 'F150' 'F50' 'FIT' 'FIT "S"- PAKETI.' 'FIT GP-5'
 'FIT GP-6' 'FIT HIBRID' 'FIT HYBRYD' 'FIT Hbrid' 'FIT Hybrid' 'FIT LX'
 'FIT NAVI PREMIUM' 'FIT PREMIUM PAKETI' 'FIT Premiym' 'FIT RS MUGEN'
 'FIT S' 'FIT SPORT' 'FIT ex' 'FIT fit' 'FX35' 'FX45' 'Fabia' 'Feroza'
 'Fiesta' 'Fiesta SE' 'Fit Aria' 'Focus' 'Focus Flexfuel' 'Focus SE'
 'Focus ST' 'Focus TITANIUM' 'Focus Titanium' 'Focus se' 'Forester'
 'Forester CrossSport' 'Forester L.L.BEAN' 'Forester XT'
 'Forester cross sport' 'Forester stb' 'Forte' 'Fortuner' 'Fred'
 'Fred HIBRIDI' 'Freelander' 'Frontera' 'Frontera A B' 'Frontier' 'Fuga'
 'Fun Cargo' 'Fusion' 'Fusion 1.6' 'Fusion Bybrid' 'Fusion HIBRID'
 'Fusion HYBRID' 'Fusion HYBRID SE' 'Fusion SE' 'Fusion TITANIUM'
 'Fusion Titanium' 'Fusion hybrid' 'Fusion phev' 'G 230 2.2cdi' 'G 300'
 'G 320' 'G 350' 'G 55 AMG' 'G 550' 'G 63 AMG' 'G 65 AMG 63AMG'
 'G 65 AMG G63 AMG' 'G20' 'G35 x' 'G37' 'G6' 'GL 320' 'GL 320 bluetec'
 'GL 350' 'GL 350 BLUETEC' 'GL 350 BLUTEC' 'GL 350 Bluetec'
 'GL 350 დიზელი' 'GL 450' 'GL 450 3.0' 'GL 500' 'GL 550' 'GLA 200'
 'GLA 250' 'GLC 250' 'GLC 300' 'GLC 300 GLC coupe' 'GLE 350' 'GLE 400'
 'GLE 400 A M G' 'GLE 400 Coupe, AMG Kit' 'GLE 450' 'GLE 63 AMG' 'GLK 250'
 'GLK 300' 'GLK 350' 'GLS 450' 'GS 300' 'GS 350' 'GS 450' 'GTI' 'GX 460'
 'GX 470' 'GX 470 470' 'GX 470 SUV 4D (4.7L V8 S' 'Galant' 'Galaxy'
 'Galloper' 'Genesis' 'Gentra' 'Getz' 'Ghibli' 'Giulietta' 'Gloria' 'Golf'
 'Golf 2' 'Golf 3' 'Golf 4' 'Golf 6' 'Golf GOLF 5' 'Golf GTI' 'Golf Gti'
 'Golf TDI' 'Grand Cherokee' 'Grand Cherokee Saiubileo'
 'Grand Cherokee special e' 'Grand HIACE' 'Grand Vitara' 'Grandeur'
 'Grandis' 'H1' 'H1 GRAND STAREX' 'H1 grandstarex' 'H2' 'H3' 'H6' 'HHR'
 'HS 250h' 'Hiace' 'Highlander' 'Highlander 2.4 lit' 'Highlander LIMITED'
 'Highlander XLE' 'Highlander limited' 'Highlander sport' 'Hilux'
 'Hilux Surf' 'Hr-v' 'Hr-v EX' 'Hr-v EXL' 'I' 'I30' 'INSIGNIA' 'IS 200'
 'IS 250' 'IS 250 TURBO' 'IS 250 რესტაილინგი' 'IS 300' 'IS 350' 'IS 350 C'
 'IS-F' 'ISIS' 'IX35' 'IX35 2.0' 'Ibiza' 'Impala' 'Impreza' 'Impreza G4'
 'Impreza Sport' 'Impreza WRX/STI LIMITED' 'Insight' 'Insight EX'
 'Insight LX' 'Inspire' 'Integra' 'Intrepid' 'Ioniq' 'Ipsum' 'Ist'
 'Ist 1.5' 'JX35' 'Jetta' 'Jetta 1.4 TURBO' 'Jetta 2.0' 'Jetta SE'
 'Jetta SEL' 'Jetta TDI' 'Jetta s' 'Jetta se' 'Jetta sei' 'Jetta sel'
 'Jetta sport' 'Jetta სასწაფოდ' 'Jetta სპორტ' 'Jimny' 'Jimny GLX'
 'Journey' 'Juke' 'Juke NISMO' 'Juke Turbo' 'Juke juke' 'Juke nismo' 'KA'
 'Kalos' 'Kangoo' 'Kangoo Waggon' 'Kicks' 'Kicks SR' 'Kizashi' 'Korando'
 'Kyron' 'L 200' 'LAFESTA' 'LATIO' 'LS 460' 'LX 470' 'LX 570' 'Lacetti'
 'Laguna' 'Lancer' 'Lancer GT' 'Land Cruiser' 'Land Cruiser 100'
 'Land Cruiser 200' 'Land Cruiser PRADO' 'Land Cruiser Prado'
 'Land Cruiser Prado RX' 'Land Rover Sport' 'Lantra' 'Lantra LIMITED'
 'Leaf' 'Legacy' 'Legacy B4' 'Legacy B4 twin turbo' 'Legacy Bl5'
 'Legacy Outback' 'Legacy b4' 'Legacy bl5' 'Legend FULL' 'Liberty' 'Lupo'
 'M3' 'M37' 'M4' 'M4 Competition' 'M5' 'M5 Japan'
 'M5 Машина в максимально' 'M550' 'M6' 'M6 Gran cupe' 'MDX' 'MKZ'
 'MKZ hybrid' 'ML 250' 'ML 270' 'ML 280' 'ML 280 სასწრაფოდ' 'ML 320'
 'ML 320 AMG' 'ML 320 cdi' 'ML 350' 'ML 350 370' 'ML 350 4 MATIC'
 'ML 350 4matic' 'ML 350 BLUETEC' 'ML 350 ML350' 'ML 350 sport' 'ML 500'
 'ML 500 AMG' 'ML 55 AMG' 'ML 550 4.7' 'ML 63 AMG' 'MPV' 'Malibu'
 'Malibu LT' 'Malibu eco' 'March' 'March 231212' 'Mariner'
 'Mariner Hybrid' 'Mark X' 'Mark X Zio' 'Matiz' 'Matrix XR' 'Maverick'
 'Maxima' 'Mazda 2' 'Mazda 3' 'Mazda 3 SPORT' 'Mazda 6'
 'Mazda 6 Grand Touring' 'Mazda 6 Grand touring' 'Mazda 6 TOURING'
 'Megane' 'Megane 1.9 CDI' 'Megane 1.9CDI' 'Megane 19' 'Megane GT Line'
 'Meriva' 'Micra' 'Micra <DIESEL>' 'Millenia' 'Minica' 'Mira' 'Mirage'
 'Moco' 'Model X' 'Mondeo' 'Monterey' 'Montero' 'Montero Sport' 'Move'
 'Mulsanne' 'Murano' 'Musa' 'Mustang' 'Mustang cabrio' 'Mustang ecoboost'
 'Mx-5' 'NEW Beetle' 'NX 200' 'NX 300' 'Navara' 'Navigator' 'Neon' 'Niro'
 'Niva' 'Noah' 'Note' 'Nubira' 'Octavia' 'Octavia SCOUT' 'Octavia Scout'
 'Odyssey' 'Omega' 'Omega 1' 'Omega B' 'Omega b' 'Optima' 'Optima ECO'
 'Optima EX' 'Optima HYBRID' 'Optima Hybrid' 'Optima SXL' 'Optima X'
 'Optima ex' 'Optima hybid' 'Optima hybrid' 'Optima k5' 'Orlando'
 'Outback' 'Outback 2007' 'Outback 3.0' 'Outback Limited' 'Outlander'
 'Outlander 2.0' 'Outlander SE' 'Outlander SPORT' 'Outlander Sport'
 'Outlander sport' 'Outlander xl' 'Outlander სპორტ' 'PT Cruiser'
 'PT Cruiser pt cruiser' 'Paceman' 'Pacifica' 'Pajero' 'Pajero 2.5diezel'
 'Pajero IO' 'Pajero MONTERO' 'Pajero Mini' 'Pajero Mini 2008 წლიანი'
 'Pajero Mini 2010 წლიანი' 'Pajero Sport' 'Panamera' 'Panamera 4'
 'Panamera GTS' 'Panamera S' 'Panda' 'Passat' 'Passat B5' 'Passat B7'
 'Passat R-line' 'Passat RLAINI' 'Passat SE' 'Passat SEL' 'Passat Se'
 'Passat pasat' 'Passat se' 'Passat sel' 'Passat sport' 'Passat tdi sel'
 'Passo' 'Passport' 'Pathfinder' 'Patriot' 'Patriot 70th anniversary'
 'Patriot Latitude' 'Patrol' 'Patrol Y60' 'Phaeton' 'Phantom' 'Picanto'
 'Pilot' 'Polo' 'Polo GTI 16V' 'Premacy' 'Presage' 'Presage RIDER'
 'Primera' 'Prius' 'Prius 1.5I' 'Prius 1.8' 'Prius 2014' 'Prius 9'
 'Prius BLUG-IN' 'Prius C' 'Prius C 1.5I' 'Prius C 2013' 'Prius C Hybrid'
 'Prius C Navigation' 'Prius C YARIS IA' 'Prius C aqua' 'Prius C hybrid'
 'Prius C ჰიბრიდი' 'Prius Plug IN' 'Prius S' 'Prius TSS LIMITED' 'Prius V'
 'Prius V ALPINA' 'Prius V HIBRID' 'Prius V HYBRID' 'Prius personna'
 'Prius plagin' 'Prius plug-in' 'Prius plugin' 'Prius prius' 'Prius s'
 'Prius ფლაგინი' 'Prius ჰიბრიდი' 'Protege' 'Punto' 'Q3' 'Q45' 'Q5'
 'Q5 Prestige' 'Q5 S-line' 'Q50 S Red' 'Q7' 'Q7 sport' 'QX56' 'QX60'
 'QX80' 'Qashqai SPORT' 'Quest' 'Quest 2016' 'R 350' 'R 350 BLUETEC' 'R2'
 'RAM' 'RAM 1500' 'RAV 4' 'RAV 4 Dizel' 'RAV 4 L' 'RAV 4 Le' 'RAV 4 SPORT'
 'RAV 4 SUPER!!!' 'RAV 4 XLE' 'RAV 4 XLE Sport' 'RAV 4 s p o r t'
 'RAV 4 se' 'RC F' 'RC F F SPORT' 'RDX' 'REXTON' 'REXTON SUPER' 'RIO'
 'RIO lX' 'RIO lx' 'RS6' 'RVR' 'RX 300' 'RX 350' 'RX 400' 'RX 400 H'
 'RX 400 HYBRID' 'RX 400 RESTAILING' 'RX 400 hybrid' 'RX 450'
 'RX 450 HYBRID' 'Ractis' 'Ramcharger' 'Range Rover' 'Range Rover Evoque'
 'Range Rover Evoque 2.0' 'Range Rover Velar' 'Range Rover Vogue' 'Ranger'
 'Ranger Wildtrak' 'Rasheen' 'Regal' 'Renegade' 'Ridgeline' 'Rodeo'
 'Rogue' 'Rogue SL' 'Rogue SPORT' 'Rogue Sport' 'Routan SEL' 'Rx-8'
 'S 320' 'S 350' 'S 350 Longia' 'S 400' 'S 420' 'S 430' 'S 500' 'S 500 67'
 'S 500 long' 'S 55 5.5' 'S 550' 'S 550 ჰიბრიდი' 'S 63 AMG' 'S-max'
 'S-type' 'S3' 'S6' 'S60' 'S70' 'S80' 'SJ 413 Samurai' 'SLK 230'
 'SLK 32 AMG' 'SLK 350 300' 'SOUL' 'SRX' 'SX4' 'Sai' 'Sambar' 'Samurai'
 'Santa FE' 'Santa FE Ultimate' 'Santa FE long' 'Santa FE sport' 'Scenic'
 'Scirocco' 'Seicento fiat 600' 'Sentra' 'Sequoia' 'Serena' 'Serena Serea'
 'Sharan' 'Shuttle' 'Sienna' 'Sienta' 'Sienta LE' 'Sierra DIZEL'
 'Silverado' 'Silvia' 'Sintra' 'Skyline' 'Smart' 'Smart Fortwo' 'Sonata'
 'Sonata 2.0t' 'Sonata 2.4L' 'Sonata HYBRID' 'Sonata Hibrid'
 'Sonata Hybrid' 'Sonata LIMITED' 'Sonata LPG' 'Sonata Limited' 'Sonata S'
 'Sonata SE LIMITED' 'Sonata SPORT' 'Sonata Sport' 'Sonata blue edition'
 'Sonata hybrid' 'Sonata sport' 'Sonic' 'Sonic LT' 'Sorento' 'Sorento EX'
 'Sorento SX' 'Space Runner' 'Spark' 'Sportage' 'Sportage PRESTIGE'
 'Sportage SX' 'Sprinter' 'Sprinter 308 CDI' 'Sprinter 311' 'Sprinter 313'
 'Sprinter 314' 'Sprinter 315CDI' 'Sprinter 316' 'Sprinter 316 CDI'
 'Sprinter 411' 'Sprinter 516' 'Sprinter MAX' 'Sprinter Maxi-ს Max'
 'Sprinter VIP CLASS' 'Stella' 'Step Wagon' 'Step Wagon Pada' 'Stream'
 'Suburban' 'Superb' 'Swift' 'Swift Sport' 'T3' 'T3 0000' 'TERRAIN' 'TL'
 'TL saber' 'TLX' 'TSX' 'TT' 'Tacoma' 'Taurus' 'Taurus interceptor'
 'Teana' 'Terios' 'Terrano' 'Tigra' 'Tiguan' 'Tiguan SE' 'Tiida'
 'Tiida 15 M' 'Tiida 2008' 'Tiida AXIS' 'Touareg' 'Touran'
 'Tourneo Connect' 'Town Car' 'Town and Country' 'Trailblazer' 'Transit'
 'Transit 100LD' 'Transit 135' 'Transit 2.4' 'Transit 350T' 'Transit CL'
 'Transit Connect' 'Transit Connect Prastoi' 'Transit Connect ბენზინი'
 'Transit Custom' 'Transit Fff' 'Transit S' 'Transit T330' 'Transit ford'
 'Transporter' 'Traverse' 'Trax' 'Tribute' 'Tribute სასწრაფოდ' 'Tucson'
 'Tucson Limited' 'Tucson SE' 'Tucson Se' 'Tundra' 'Twingo' 'UP' 'V50'
 'VOXY' 'VOXY 2003' 'Vaneo' 'Vanette' 'Vectra' 'Vectra 1.6' 'Vectra B'
 'Vectra C' 'Vectra H' 'Vectra b' 'Vectra c' 'Vectra ბ' 'VehiCross'
 'Veloster' 'Veloster R-spec' 'Veloster TURBO' 'Veloster Turbo' 'Vento'
 'Venza' 'Veracruz' 'Verisa' 'Verisa 2007' 'Versa' 'Versa SE' 'Verso'
 'Vesta' 'Viano' 'Viano Ambiente' 'Virage' 'Vitara' 'Vitara GL+' 'Vito'
 'Vito 110d' 'Vito 111' 'Vito 111 CDI' 'Vito 115' 'Vito 115 CDI'
 'Vito Exstralong' 'Vito Extra Long' 'Vito Extralong' 'Vito long115'
 'Vitz' 'Vitz RS' 'Vitz funkargo' 'Vitz i.ll' 'Volt' 'Volt Full Packet'
 'Volt PREMIER' 'Volt premier' 'Vue' 'Will Vs' 'Wingroad' 'Wish'
 'Wrangler' 'Wrangler ARB' 'Wrangler sport' 'X 250' 'X 250 ევროპული'
 'X-Terra' 'X-Trail' 'X-Trail NISMO' 'X-Trail X-trail' 'X-Trail gt'
 'X-type' 'X1' 'X1 28Xdrive' 'X1 4X4' 'X1 X-Drive' 'X3' 'X3 3.5i'
 'X3 SDRIVE' 'X4' 'X5' 'X5 3.0' 'X5 3.0i' 'X5 3.5' 'X5 35d' 'X5 4.8is'
 'X5 DIESEL' 'X5 E70' 'X5 Japan' 'X5 M' 'X5 M packet' 'X5 Sport'
 'X5 X-Drive' 'X5 XDRIVE' 'X5 XDRIVE 35D' 'X5 e53' 'X5 rest'
 'X5 restilling' 'X5 x5' 'X6' 'X6 40D' 'X6 Limited' 'X6 M' 'XC90' 'XE'
 'XF' 'XJ' 'XL7' 'XL7 limited' 'XV' 'XV HYBRID' 'Yaris' 'Yaris RS'
 'Yaris SE' 'Yaris iA' 'Yukon' 'Z4' 'Zafira' 'Zafira B' 'i20' 'i3' 'i40'
 'iA isti' 'kona' 'macan' 'macan S' 'tC' 'xD']

In [14]:
mod_cat=pd.DataFrame(mod_cat.toarray(),columns=encoder.categories_[0],index=mod.index)

In [15]:
mod_cat.columns = ['Model_' + col for col in mod_cat.columns]

In [16]:
mod_cat.head(10)

,Model_09-Mar,Model_100,Model_100 NX,Model_1000,Model_114,Model_116,Model_118,Model_118 M-sport LCI,Model_120,Model_128,...,Model_Zafira B,Model_i20,Model_i3,Model_i40,Model_iA isti,Model_kona,Model_macan,Model_macan S,Model_tC,Model_xD
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Let's do the same thing with "Category" column

In [17]:
cat=data[["Category"]]

In [18]:
cat_cat=encoder.fit_transform(cat)

In [19]:
cat_cat=pd.DataFrame(cat_cat.toarray(),columns=encoder.categories_[0],index=cat.index)

In [20]:
cat_cat.columns = ['Category_' + col for col in cat_cat.columns]

In [21]:
cat_cat.head(10)

,Category_Cabriolet,Category_Coupe,Category_Goods wagon,Category_Hatchback,Category_Jeep,Category_Limousine,Category_Microbus,Category_Minivan,Category_Pickup,Category_Sedan,Category_Universal
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

No we do it for "Leather interior" column

In [22]:
lat=data[["Leather interior"]]

In [23]:
lat_cat=encoder.fit_transform(lat)

In [24]:
lat_cat=pd.DataFrame(lat_cat.toarray(),columns=encoder.categories_[0],index=lat.index)

In [25]:
lat_cat.columns = ['Leather interior_' + col for col in lat_cat.columns]

In [26]:
lat_cat.head(10)

   Leather interior_No  Leather interior_Yes
0                  0.0                   1.0
1                  0.0                   1.0
2                  0.0                   1.0
3                  0.0                   1.0
4                  0.0                   1.0
5                  1.0                   0.0
6                  0.0                   1.0
7                  0.0                   1.0
8                  0.0                   1.0
9                  0.0                   1.0

We do the same for "Fuel type" column

In [27]:
ful=data[["Fuel type"]]

In [28]:
ful_cat=encoder.fit_transform(ful)

In [29]:
ful_cat=pd.DataFrame(ful_cat.toarray(),columns=encoder.categories_[0],index=ful.index)

In [30]:
ful_cat.columns = ['Fuel type_' + col for col in ful_cat.columns]

In [31]:
ful_cat.head(10)

,Fuel type_CNG,Fuel type_Diesel,Fuel type_Hybrid,Fuel type_Hydrogen,Fuel type_LPG,Fuel type_Petrol,Fuel type_Plug-in Hybrid
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
5,0.0,1.0,0.0,0.0,0.0,0.0,0.0
6,0.0,0.0,1.0,0.0,0.0,0.0,0.0
7,0.0,0.0,0.0,0.0,1.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,1.0,0.0
9,0.0,0.0,0.0,0.0,0.0,1.0,0.0

Now we do it again for "Gear box type" column

In [32]:
gbt=data[["Gear box type"]]

In [33]:
gbt_cat=encoder.fit_transform(gbt)

In [34]:
gbt_cat=pd.DataFrame(gbt_cat.toarray(),columns=encoder.categories_[0],index=gbt.index)

In [35]:
gbt_cat.columns = ['Gear box type_' + col for col in gbt_cat.columns]

In [36]:
gbt_cat.head(10)

,Gear box type_Automatic,Gear box type_Manual,Gear box type_Tiptronic,Gear box type_Variator
0,1.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0
5,0.0,1.0,0.0,0.0
6,1.0,0.0,0.0,0.0
7,1.0,0.0,0.0,0.0
8,1.0,0.0,0.0,0.0
9,1.0,0.0,0.0,0.0

again we the same for "Drive wheels" column

In [37]:
drw=data[["Drive wheels"]]

In [38]:
drw_cat=encoder.fit_transform(drw)

In [39]:
drw_cat=pd.DataFrame(drw_cat.toarray(),columns=encoder.categories_[0],index=drw.index)

In [40]:
drw_cat.columns = ['Drive wheels_' + col for col in drw_cat.columns]

In [41]:
drw_cat.head()

   Drive wheels_4x4  Drive wheels_Front  Drive wheels_Rear
0               0.0                 1.0                0.0
1               1.0                 0.0                0.0
2               0.0                 1.0                0.0
3               0.0                 1.0                0.0
4               1.0                 0.0                0.0

we do the same thing with "Wheel" column

In [42]:
wheel=data[["Wheel"]]

In [43]:
wheel_cat=encoder.fit_transform(wheel)

In [44]:
wheel_cat=pd.DataFrame(wheel_cat.toarray(),columns=encoder.categories_[0],index=wheel.index)

In [45]:
wheel_cat.columns = ['Wheels_' + col for col in wheel_cat.columns]

In [46]:
wheel_cat.head(10)

   Wheels_Left wheel  Wheels_Right-hand drive
0                1.0                      0.0
1                1.0                      0.0
2                1.0                      0.0
3                1.0                      0.0
4                1.0                      0.0
5                1.0                      0.0
6                1.0                      0.0
7                1.0                      0.0
8                1.0                      0.0
9                1.0                      0.0

In [47]:
col=data[["Color"]]

In [48]:
col_cat=encoder.fit_transform(col)

In [49]:
col_cat=pd.DataFrame(col_cat.toarray(),columns=encoder.categories_[0],index=col.index)

In [50]:
col_cat.columns = ['Color_' + col for col in col_cat.columns]

In [51]:
col_cat.head(10)

,Color_Beige,Color_Black,Color_Blue,Color_Brown,Color_Carnelian red,Color_Golden,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Finally we have encoded all the categorical values into integers, now we just need to drop the original columns and join all the datasets that we made just now.

In [52]:
data.drop(columns=["Manufacturer", "Model", "Category", "Leather interior", "Fuel type", "Gear box type", "Drive wheels", "Wheel", "Color"],inplace=True)

In [53]:
data.head()

   Price    Levy  Engine volume  Mileage(Km)  Cylinders  Airbags  Age
0  16465   640.0            2.0        43330        4.0        4   12
1   1646   707.0            2.0       124958        4.0       12   14
2  48998   765.0            2.0       104667        4.0        4   10
3  33908   639.0            2.0        85254        4.0        4   11
4    706  1646.0            4.6       102907        8.0        0   10

In [54]:
data=pd.concat([data,man_cat,mod_cat,cat_cat,lat_cat,ful_cat,gbt_cat,drw_cat,wheel_cat,col_cat],axis=1)

In [55]:
data.head(10)

,Price,Levy,Engine volume,Mileage(Km),Cylinders,Airbags,Age,Manufacturer_ACURA,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,16465,640.00000,2.0,43330,4.0,4,12,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1646,707.00000,2.0,124958,4.0,12,14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,48998,765.00000,2.0,104667,4.0,4,10,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33908,639.00000,2.0,85254,4.0,4,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,706,1646.00000,4.6,102907,8.0,0,10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,8154,906.83813,2.2,395000,4.0,2,22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,3293,521.00000,1.4,288778,4.0,12,14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,14426,906.83813,2.5,169600,5.0,8,13,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,25926,986.00000,2.4,84918,4.0,4,15,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,15681,738.00000,1.4,107637,4.0,0,8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [56]:
data.to_csv("dataset/Training_set_processed.csv",index=False)