First we will scale the continuous numeric vales

In [1]:
import pandas as pd

In [2]:
data=pd.read_csv("dataset\Training_set_processed.csv")

In [3]:
data.head(10)

,Price,Levy,Engine volume,Mileage(Km),Cylinders,Airbags,Age,Manufacturer_ACURA,Manufacturer_ALFA ROMEO,Manufacturer_ASTON MARTIN,...,Color_Green,Color_Grey,Color_Orange,Color_Pink,Color_Purple,Color_Red,Color_Silver,Color_Sky blue,Color_White,Color_Yellow
0,16465,640.00000,2.0,43330,4.0,4,12,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1646,707.00000,2.0,124958,4.0,12,14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,48998,765.00000,2.0,104667,4.0,4,10,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,33908,639.00000,2.0,85254,4.0,4,11,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,706,1646.00000,4.6,102907,8.0,0,10,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,8154,906.83813,2.2,395000,4.0,2,22,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
6,3293,521.00000,1.4,288778,4.0,12,14,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,14426,906.83813,2.5,169600,5.0,8,13,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
8,25926,986.00000,2.4,84918,4.0,4,15,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
9,15681,738.00000,1.4,107637,4.0,0,8,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
from sklearn.preprocessing import StandardScaler
import numpy as np
num_cols = ['Levy', 'Engine volume', 'Mileage(Km)', 'Cylinders','Airbags','Age']
scaler = StandardScaler()
data[num_cols] = scaler.fit_transform(data[num_cols])
data['Price_log'] = np.log1p(data['Price'])
print(data[num_cols].describe())

               Levy  Engine volume   Mileage(Km)     Cylinders       Airbags  \
count  1.538900e+04   1.538900e+04  1.538900e+04  1.538900e+04  1.538900e+04
mean  -9.234424e-18  -1.145069e-16 -9.234424e-19 -4.986589e-17 -2.447122e-17
std    1.000032e+00   1.000032e+00  1.000032e+00  1.000032e+00  1.000032e+00
min   -2.168430e+00  -2.622177e+00 -2.876464e-02 -2.999889e+00 -1.524721e+00
25%   -4.622539e-01  -5.752722e-01 -2.696823e-02 -4.848916e-01 -5.980896e-01
50%    6.979189e-03  -3.478383e-01 -2.557412e-02 -4.848916e-01 -1.347738e-01
75%    2.863639e-02   2.207464e-01 -2.400178e-02 -4.848916e-01  1.255174e+00
max    2.868336e+01   2.012121e+01  5.430589e+01  9.575097e+00  2.181806e+00

                Age
count  1.538900e+04
mean   3.555253e-17
std    1.000032e+00
min   -1.610499e+00
25%   -7.235707e-01
50%   -1.914137e-01
75%    3.407432e-01
max    1.275774e+01

Data is Scaled and now we are ready to train and test the data in multiple ML models

In [5]:
X=data.drop(columns=['Price', 'Price_log'])  # all independent variables
Y=data['Price_log'] # dependent variable (log of price)

In [6]:
from sklearn.linear_model import LinearRegression
from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
# Linear Regression
lin_reg = LinearRegression()
lin_reg.fit(X,Y)
# Decision Tree
tree_reg=DecisionTreeRegressor(random_state=42)
tree_reg.fit(X,Y)
# Random Forest
forest_reg=RandomForestRegressor(random_state=42)
forest_reg.fit(X,Y)
# Predict using training data
lin_preds=lin_reg.predict(X)
tree_preds=tree_reg.predict(X)
forest_preds=forest_reg.predict(X)
# Calculate RMSE
lin_rmse=np.sqrt(mean_squared_error(Y, lin_preds))
tree_rmse=np.sqrt(mean_squared_error(Y, tree_preds))
forest_rmse=np.sqrt(mean_squared_error(Y, forest_preds))

print("Linear Regression RMSE:", lin_rmse)
print("Decision Tree RMSE:", tree_rmse)
print("Random Forest RMSE:", forest_rmse)

Linear Regression RMSE: 1.2776368822629995
Decision Tree RMSE: 0.17494025415878667
Random Forest RMSE: 0.3918052205518888

Cross-Validation on Decision Tree

In [7]:
from sklearn.model_selection import cross_val_score
import pandas as pd
tree_rmses = -cross_val_score(
    tree_reg,
    X,
    Y,
    scoring="neg_root_mean_squared_error",
    cv=10
)
print("Decision Tree CV RMSEs:", tree_rmses)
print("\nCross-Validation Performance (Decision Tree):")
print(pd.Series(tree_rmses).describe())

Decision Tree CV RMSEs: [1.24197358 1.1397509  1.27415566 1.2090485  1.21690288 1.23655762
 1.19281803 1.26898252 1.2315458  1.31681458]

Cross-Validation Performance (Decision Tree):
count    10.000000
mean      1.232855
std       0.048593
min       1.139751
25%       1.211012
50%       1.234052
75%       1.262230
max       1.316815
dtype: float64

Cross-Validation on Linear Regression

In [8]:
lin_rmses = -cross_val_score(
    lin_reg,
    X,
    Y,
    scoring="neg_root_mean_squared_error",
    cv=10
)
print("Linear Regression CV RMSEs:", lin_rmses)
print("\nCross-Validation Performance (Linear Regression):")
print(pd.Series(lin_rmses).describe())

Linear Regression CV RMSEs: [1.32779601 1.30983849 1.42293608 1.36895329 1.35885658 1.38757721
 1.29571399 1.33659145 1.35248017 1.38358641]

Cross-Validation Performance (Linear Regression):
count    10.000000
mean      1.354433
std       0.038499
min       1.295714
25%       1.329995
50%       1.355668
75%       1.379928
max       1.422936
dtype: float64

Cross-Validation on Random Forest

In [10]:
forest_rmses = -cross_val_score(
    forest_reg,
    X,
    Y,
    scoring="neg_root_mean_squared_error",
    cv=10
)
print("Random Forest CV RMSEs:", forest_rmses)
print("\nCross-Validation Performance (Random Forest):")
print(pd.Series(forest_rmses).describe())

Random Forest CV RMSEs: [0.97323794 0.88539534 1.02853608 1.0161756  0.92453802 0.9488662
 0.92783298 0.95448322 0.92803513 1.08237118]

Cross-Validation Performance (Random Forest):
count    10.000000
mean      0.966947
std       0.059212
min       0.885395
25%       0.927884
50%       0.951675
75%       1.005441
max       1.082371
dtype: float64